/* Default style */

/* Blockcode container */
.shinycode-blockcode {
    margin-bottom: 1.6em;
    border: 1px solid #ededed;
    line-height: 1.5em;
    background-color: #fff;
}

/* Blockcode table if line numbers enabled */
.shinycode-blockcode table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: separate;
    background-color: #fff;
}

/* I set default styles to avoid problems with your blog theme. */
.shinycode-blockcode th,
.shinycode-blockcode td {
    padding: 0;
}

.shinycode-blockcode th,
.shinycode-blockcode td,
.shinycode-blockcode table {
    border: 0;
}

.shinycode-blockcode pre {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;

    margin: 0;
    padding: 0;
    border: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    color: #aaa;
    color: rgba(0,0,0,0.3);
    background: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* =Line numbers
-------------------------------------------------------------------- */

/* <td> line numbers */
td.ln {
    width: 1%;
    padding: 6px 8px;
    border: 0;
    border-right: 1px solid #e5e5e5;
    text-align: right;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-size: 13px;
    line-height: 1.6;
    vertical-align: top;
}

/* Line numbers are in <pre> tag */
td.ln pre.de1 {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;

    margin: 0;
    padding: 0;
    border: 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    color: #aaa;
    color: rgba(0,0,0,0.3);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* <span> Line numbers */
td.ln span.li2 {
    display: block;
    padding: 0 8px;
    color: inherit;
}

/* =Blockcode content
-------------------------------------------------------------------- */

td.de1 {
    padding-top: 6px;
    padding-bottom: 6px;
    border: 0;
    line-height: 1.6;
    white-space: nowrap;
    background-color: #fff;
}

/* Add .shinycode-blockcode if line numbers are disabled */
td.de1 pre.de1,
.shinycode-blockcode pre.de1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-size: 12px;
}

span.xtra.li2 {
    display: block;
    padding-left: 10px;
}

/* =Blockcode title if enabled
-------------------------------------------------------------------- */

.shinycode-title {
    display: block;
    padding: 3px 0;
    border: 1px solid #ededed;
    border-bottom: 0;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    background-color: #fafafa;
}

/* =Syntax coloration
-------------------------------------------------------------------- */

/*
GeShi css classes works very simply.
They depend on the contents of the languages​​ files.
For example, in the file 'php.php', the keywords are
in 4 array. The following classes will be utilized:
.kw1, .kw2, .kw3 and .kw4

Also in the file 'php.php', they are 4 array for comments.
The following classes will be utilized:
.co1, .co2, .co3 and .co4 .

The default theme is built to give a color
to each class, regardless of the language.

If you want to create a theme, remember to take into consideration each array.
*/

/* Global code color */
.shinycode-blockcode pre.de1 {color: #333;}

/* Comments */
span.co1 {color: #3C802C;}
span.co2 {color: #3C802C;}
span.co3 {color: #3C802C;}
span.co4 {color: #3C802C;}
span.coMULTI {color: #3C802C;}

/* Keywords */
span.kw1 {color: #AA2063;}
span.kw2 {color: #881181;}
span.kw3 {color: #F02A1D;}
span.kw4 {color: #AA2063;}

/* Punctuation */
span.sy0 {color: #333;}
span.sy1 {color: #333;}
span.br0 {color: #333;}

/* Strings */
span.st0 {color: #ED7722;}
span.st_h {color: #ED7722;}

/* Methods */
span.me1 {color: #7520AF;}
span.me2 {color: #7520AF;}

/* Tags & tags attribute */
span.re0 {color: #881181;}
span.re1 {color: #881181;}
span.re2 {color: #881181;}
span.re3 {color: #0F20F6;}

/* Numbers */
span.nu0 {color: #0F20F6;}

/* Escape chars */
.es0 {color: #ED7722;}