/*
 * Theme:   Github
 * @author  Github
 * @since   0.0.1
 */

/* =Default styles
-------------------------------------------------------------------- */



/* =Github color scheme
-------------------------------------------------------------------- */

/*.shinycode-blockcode.sc-git,
.shinycode-blockcode.sc-git table,
.shinycode-blockcode.sc-git td.de1 {background-color: #f8f8ff;}
.shinycode-blockcode.sc-git td.ln {background-color: #ececec;}
.shinycode-blockcode.sc-git pre.de1 {color: #000;}
.sc-git span.co1 {color: #555; font-weight: bold;}
.sc-git span.co2 {color: #d14;}
.sc-git span.co3 {color: #d14;}
.sc-git span.co4 {color: #d14;}
.sc-git span.coMULTI {color: #d14;}
.sc-git span.kw1 {color: #555;}
.sc-git span.kw2 {color: #000;}
.sc-git span.kw3 {color: #445588; font-weight: bold;}
.sc-git span.kw4 {color: #AA2063; font-weight: bold;}
.sc-git span.sy0 {color: #333;}
.sc-git span.sy1 {color: #333;}
.sc-git span.br0 {color: #333;}
.sc-git span.st0 {color: #d14;}
.sc-git span.st_h {color: #d14;}
.sc-git span.me1 {color: #7520AF;}
.sc-git span.me2 {color: #7520AF;}
.sc-git span.re0 {color: #445588; font-weight: bold;}
.sc-git span.re1 {color: #445588; font-weight: bold;}
.sc-git span.re2 {color: #000;}
.sc-git span.re3 {color: #099; }
.sc-git span.nu0 {color: #009999;}
.sc-git .es0 {color: #ED7722;}*/